.responsive-img {
    display: block; 
    max-width: 100%; 
    height: auto; 
}

.Chaufa-img {
    display: block; 
    max-width: 100%; 
    height: auto; 
}

.ceviche-img {
    display: block; 
    max-width: 100%; 
    height: auto; 
}